# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
log

# Sphinx documentation
docs/build/
*.rst
!index.rst
*.doctree
*.pickle

# the actual config file [HAS TO BE ALWAYS EXCLUDED!]
config.yaml
config.yml

# temp log and storage for the test database
__temp*

# version file
version.py
